.header {
  background-color: $brightBlue;
  height: 180px;

  &__logo {
    margin: 35px 0 0 50px;
  }

  &__label {
    float: right;
    color: #fff;
    text-decoration: underline;
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.56;
    margin: 40px 50px 0 auto;
  }
}