$helveticaNeueCyrPath: '/assets/fonts/helvetica-neue-cyr/';

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Medium.eot');
  src: local('HelveticaNeueCyr-Medium'),
  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Medium.eot?#iefix') format('embedded-opentype'),
  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Medium.woff') format('woff'),
  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
//
//@font-face {
//  font-family: 'HelveticaNeueCyr';
//  src: url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Heavy.eot');
//  src: local('HelveticaNeueCyr-Heavy'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Heavy.eot?#iefix') format('embedded-opentype'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Heavy.woff') format('woff'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Heavy.ttf') format('truetype');
//  font-weight: 900;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'HelveticaNeueCyr';
//  src: url($helveticaNeueCyrPath + 'HelveticaNeueCyr-HeavyItalic.eot');
//  src: local('HelveticaNeueCyr-HeavyItalic'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-HeavyItalic.eot?#iefix') format('embedded-opentype'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-HeavyItalic.woff') format('woff'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-HeavyItalic.ttf') format('truetype');
//  font-weight: 900;
//  font-style: italic;
//}
//
//@font-face {
//  font-family: 'HelveticaNeueCyr';
//  src: url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Black.eot');
//  src: local('HelveticaNeueCyr-Black'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Black.eot?#iefix') format('embedded-opentype'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Black.woff') format('woff'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Black.ttf') format('truetype');
//  font-weight: 900;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'HelveticaNeueCyr';
//  src: url($helveticaNeueCyrPath + 'HelveticaNeueCyr-UltraLightItalic.eot');
//  src: local('HelveticaNeueCyr-UltraLightItalic'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-UltraLightItalic.woff') format('woff'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-UltraLightItalic.ttf') format('truetype');
//  font-weight: 200;
//  font-style: italic;
//}
//
//@font-face {
//  font-family: 'HelveticaNeueCyr';
//  src: url($helveticaNeueCyrPath + 'HelveticaNeueCyr-BlackItalic.eot');
//  src: local('HelveticaNeueCyr-BlackItalic'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-BlackItalic.eot?#iefix') format('embedded-opentype'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-BlackItalic.woff') format('woff'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-BlackItalic.ttf') format('truetype');
//  font-weight: 900;
//  font-style: italic;
//}
//
//@font-face {
//  font-family: 'HelveticaNeueCyr';
//  src: url($helveticaNeueCyrPath + 'HelveticaNeueCyr-ThinItalic.eot');
//  src: local('HelveticaNeueCyr-ThinItalic'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-ThinItalic.eot?#iefix') format('embedded-opentype'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-ThinItalic.woff') format('woff'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-ThinItalic.ttf') format('truetype');
//  font-weight: 100;
//  font-style: italic;
//}
//
//@font-face {
//  font-family: 'HelveticaNeueCyr';
//  src: url($helveticaNeueCyrPath + 'HelveticaNeueCyr-MediumItalic.eot');
//  src: local('HelveticaNeueCyr-MediumItalic'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-MediumItalic.eot?#iefix') format('embedded-opentype'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-MediumItalic.woff') format('woff'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-MediumItalic.ttf') format('truetype');
//  font-weight: 500;
//  font-style: italic;
//}
//
//@font-face {
//  font-family: 'HelveticaNeueCyr';
//  src: url($helveticaNeueCyrPath + 'HelveticaNeueCyr-LightItalic.eot');
//  src: local('HelveticaNeueCyr-LightItalic'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-LightItalic.eot?#iefix') format('embedded-opentype'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-LightItalic.woff') format('woff'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-LightItalic.ttf') format('truetype');
//  font-weight: 300;
//  font-style: italic;
//}
//
//@font-face {
//  font-family: 'HelveticaNeueCyr';
//  src: url($helveticaNeueCyrPath + 'HelveticaNeueCyr-UltraLight.eot');
//  src: local('HelveticaNeueCyr-UltraLight'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-UltraLight.eot?#iefix') format('embedded-opentype'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-UltraLight.woff') format('woff'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-UltraLight.ttf') format('truetype');
//  font-weight: 200;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'HelveticaNeueCyr';
//  src: url($helveticaNeueCyrPath + 'HelveticaNeueCyr-BoldItalic.eot');
//  src: local('HelveticaNeueCyr-BoldItalic'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-BoldItalic.eot?#iefix') format('embedded-opentype'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-BoldItalic.woff') format('woff'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-BoldItalic.ttf') format('truetype');
//  font-weight: bold;
//  font-style: italic;
//}
//
//@font-face {
//  font-family: 'HelveticaNeueCyr';
//  src: url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Italic.eot');
//  src: local('HelveticaNeueCyr-Italic'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Italic.eot?#iefix') format('embedded-opentype'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Italic.woff') format('woff'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Italic.ttf') format('truetype');
//  font-weight: 500;
//  font-style: italic;
//}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Roman.eot');
  src: local('HelveticaNeueCyr-Roman'),
  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Roman.eot?#iefix') format('embedded-opentype'),
  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Roman.woff') format('woff'),
  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Bold.eot');
  src: local('HelveticaNeueCyr-Bold'),
  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Bold.eot?#iefix') format('embedded-opentype'),
  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Bold.woff') format('woff'),
  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
//
//@font-face {
//  font-family: 'HelveticaNeueCyr';
//  src: url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Light.eot');
//  src: local('HelveticaNeueCyr-Light'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Light.woff') format('woff'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Light.ttf') format('truetype');
//  font-weight: 300;
//  font-style: normal;
//}
//
//@font-face {
//  font-family: 'HelveticaNeueCyr';
//  src: url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Thin.eot');
//  src: local('HelveticaNeueCyr-Thin'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Thin.woff') format('woff'),
//  url($helveticaNeueCyrPath + 'HelveticaNeueCyr-Thin.ttf') format('truetype');
//  font-weight: 100;
//  font-style: normal;
//}
