$ralewayPath: '/assets/fonts/raleway/';

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url($ralewayPath + 'Raleway-ExtraBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 900;
  src: local('Raleway Black'), local('Raleway-Black'), url($ralewayPath + 'Raleway-Black.ttf') format('truetype');
}