.sell-conveniently {
  height: 635px;
  background: $brightBlue;
  color: #fff;

  &__title,
  &__make-order {
    flex-direction: column;
    flex-basis: 50%;
  }

  &__title {
    max-width: 455px;
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    font-weight: 900;
    line-height: 1.21;
    margin: 0 80px 0 150px;
  }

  .wrapper {
    @include display-flex();
    align-items: center;
    height: 100%;
  }
}

.sell-conveniently-make-order {
  max-width: 445px;
  margin-top: 80px;
  font-family: 'HelveticaNeueCyr', sans-serif;

  &__title {
    font-size: 20px;
    line-height: 1.1;
    margin-bottom: 20px;
  }

  &__name,
  &__phone {
    width: 445px;
    height: 55px;
    border: none;
    border-radius: 3px;
    background-color: $clearBlue;
    font-size: 23px;
    line-height: 1.09;
    color: #fff;
    text-indent: 15px;

    @include placeholder(#fff);
  }

  &__name {
    margin-bottom: 15px;
  }

  &__phone {
    margin-bottom: 35px;
  }

  &__submit {
    display: block;
    width: 250px;
    height: 65px;
    cursor: pointer;
    margin: 0 auto;
    background: #fff;
    color: $brightBlue;
    border-radius: 5px;
    font-weight: 500;
    font-size: 23px;
    line-height: 1.09;
  }
}