.small-business {
  &__title {
    font-family: 'Raleway', sans-serif;
    font-size: 60px;
    font-weight: 800;
    width: 515px;
    margin: 80px 0 0 150px;
  }

  &__list {
    display: flex;
    flex-flow: wrap;
    margin-left: 150px;
    padding: 0;
    padding-bottom: 80px;
  }
}

.small-business-item {
  @include display-flex();
  flex-direction: column;
  flex-basis: 33%;
  margin-top: 60px;

  &::before {
    content: '';
    display: block;
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
    background-size: auto;
    background-repeat: no-repeat;
  }

  &_gift {
    &::before {
      background-image: url(/assets/images/png/gift.png);
    }
  }

  &_brand-page {
    &::before {
      background-image: url(/assets/images/png/brand-page.png);
    }
  }

  &_personal-consultant {
    &::before {
      background-image: url(/assets/images/png/personal-consultant.png);
    }
  }

  &_mobile-shop {
    &::before {
      background-image: url(/assets/images/png/mobile-shop.png);
    }
  }

  &_premium-positions {
    &::before {
      background-image: url(/assets/images/png/premium-positions.png);
    }
  }

  &__title {
    font-size: 20px;
    color: #0075ff;
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-weight: 800;
    width: 210px;
    line-height: 1.25;
  }

  &__description {
    font-size: 16px;
    font-family: 'HelveticaNeueCyr', sans-serif;
    width: 220px;
    line-height: 1.38;
    margin-top: 10px;
  }

  &__list {
    @include display-flex();
    flex-flow: row wrap;
    font-family: 'Helvetica', sans-serif;
    padding-bottom: 80px;
  }
}
