.footer {
  height: 170px;
  @include display-flex();
  align-items: center;
  color: $warmGrey;
  font-family: 'HelveticaNeueCyr', sans-serif;

  &__logo {
    margin-left: 50px;
  }

  &__links {
    margin-left: 70px;
  }

  .wrapper {
    @include display-flex();
    align-items: center;
  }
}

.footer-links {
  height: 16px;
  
  a {
    text-decoration: none;
    color: $warmGrey;
    font-size: 16px;
    line-height: 1.38;
    margin-right: 70px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.footer-social {
  @include display-flex();
  margin-left: auto;
  margin-right: 50px;

  &__item {
    width: 20px;
    height: 20px;
    margin-right: 70px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 50%;

    &:last-child {
      margin-right: 0;
    }

    &_facebook {
      background-image: url(/assets/images/png/social/facebook.png);
    }

    &_twitter {
      background-image: url(/assets/images/png/social/twitter.png);
    }

    &_linkedin {
      background-image: url(/assets/images/png/social/linkedin.png);
    }

    &_pinterest {
      background-image: url(/assets/images/png/social/pinterest.png);
    }
  }
}