.sell-through-stores {
  background: $brightBlue;
  color: #fff;
  position: relative;

  &__title {
    font-family: 'Raleway', sans-serif;
    font-size: 70px;
    font-weight: 900;
    line-height: 1.21;
    width: 580px;
    margin-left: 150px;
  }

  &__description {
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 20px;
    line-height: 1.25;
    width: 450px;
    margin: 21px 0 50px 150px;
  }

  &__button {
    font-family: 'HelveticaNeueCyr', sans-serif;
    font-size: 23px;
    font-weight: 500;
    cursor: pointer;
    color: $brightBlue;
    background: #fff;
    width: 250px;
    height: 65px;
    border: none;
    margin-left: 150px;
    @include border-radius(5px);
  }

  .wrapper {
    padding-bottom: 120px;

    &::after {
      content: '';
      display: block;
      width: 478px;
      height: 488px;
      position: absolute;
      top: 0;
      left: 600px;
      background: url(/assets/images/png/rocket.png) no-repeat;
      background-size: contain;
    }
  }
}