.company-page-goods {
  background-color: #fddd37;
  height: 740px;
  position: relative;

  &::before {
    content: '';
    width: 238px;
    height: 193px;
    background-image: url(/assets/images/png/bailer.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 1040px;
    top: 50px;
  }

  &::after {
    content: '';
    width: 600px;
    height: 520px;
    background-image: url(/assets/images/png/computer.png);
    background-size: contain;
    position: absolute;
    left: 70px;
    top: 220px;
  }

  &__text {
    float: right;
    margin: 260px 150px 0 0;
    width: 430px;
    font-size: 55px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    line-height: 1.18;
    color: #000;
  }
}